html,
body {
    height: 100%;
}

header {
    margin-bottom: 20px;
    padding-left: 20px;
}

header a,
footer a {
    color: #fff;
    text-decoration: none;
}

header a:hover,
footer a:hover {
    color: #ddd;
    text-decoration: none;
}


header p {
    color: #fff;
    text-transform: uppercase;
}

header,
footer {
    background-color: #2e2e2e;
}

textarea {
    resize: none;
}

footer {
    margin-top: 30px;
    height: 60px;
    padding-top: 20px;
    color: #eee;
    text-align: center
}



abbr[title] {
    border-bottom: 1px dotted #eee;
}
